@page {
    size: A4;
    margin: 0;
}

body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.invoice-container {
    width: 210mm;
    min-height: 297mm;
    padding: 30px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    /* justify-content: space-between; */
    gap: 35px;
    margin-bottom: 40px;
    
}

.logo-placeholder {
    width: 150px;
    height: 100px;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 12px;
    text-align: center;
}

.company-info h1 {
    color: #000;
    margin: 0;
    font-size: 24px;
}

.company-info p {
    color: #666;
    margin: 5px 0;
    font-size: 14px;
}

.invoice-title {
    color: #2e7d32;
    font-size: 32px;
    margin: 20px 0;
}

.invoice-number {
    font-size: 20px;
    margin: 10px 0;
}

.invoice-details {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.invoice-details-left {
    width: 45%;
}

.invoice-details-right {
    width: 45%;
}

.details-row {
    display: flex;
    margin: 5px 0;
    font-size: 14px;
}

.details-label {
    width: 150px;
    color: #000;

}

.details-value {
    color: #333;
}
.details-value p{
    font-size: 13px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th {
    background-color: #f5f5f5;
    padding: 10px;
    text-align: left;
    font-weight: normal;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.amount-column {
    text-align: right;
}

.totals {
    margin-left: auto;
    width: 300px;
}

.total-row {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px 0;
}

.final-total {
    color: #2e7d32;
    font-weight: bold;
    font-size: 18px;
    border-top: 2px solid #2e7d32;
    padding-top: 10px;
}

.actions {
    margin-top: 20px;
    color: #2196F3;
    font-size: 14px;
}

.actions a {
    color: #2196F3;
    text-decoration: none;
    margin-right: 20px;
}