{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/success.css" %}">
    <title>Factura Electronica</title>
</head>
<body>
    <div class="invoice-container">
        <div class="header">
            <div class="logo-placeholder">
                <a href="{% url "home" %}"><img src="{% static "img/logo.png" %}" alt=""></a>
            </div>
            <div class="company-info">
                <h1>IBAFEX SAC</h1>
                <p>Compañia de abarrote por mayor</p>
                <p>http://dinostore.bed | admin@dinostore.bed +51 995 432 234</p>
            </div>
        </div>

        <div class="invoice-title">FACTURA</div>

        <div class="invoice-details">
            <div class="invoice-details-left">
                <div class="details-row">
                    <div class="details-label">Nombres:</div>
                    <div class="details-value">{{ payment_details.additional_info.payer.first_name}}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Apellidos:</div>
                    <div class="details-value">{{ payment_details.additional_info.payer.last_name}}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Correo:</div>
                    <div class="details-value">{{ email }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Fecha de emisión:</div>
                    <div class="details-value">{{ payment_details.date_approved }}</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Tipo de envio:</div>
                    <div class="details-value">Delivery</div>
                </div>

                <div class="details-row">
                    <div class="details-label">Direccion de envio:</div>
                    <div class="details-value">{{ address }}</div>
                </div>

                <div class="details-row">
                    <div class="details-label">Telefono:</div>
                    <div class="details-value">{{ payment_details.additional_info.payer.phone.number }}</div>
                </div>
                

                <div class="details-row">
                    <div class="details-label">Moneda:</div>
                    <div class="details-value">SOL</div>
                </div>
            </div>

            <div class="invoice-details-right">
                <div class="details-row">
                    <div class="details-label">Cuenta por:</div>
                </div>
                <div class="details-value">
                    <p> <b>Ibafex Compañia</b> </p>
                    <p>mz f lt 10 gr 04</p>
                    <p>+51 954 345 234</p>
                    <p>ibafex@gmail.com</p>
                    
                </div>
            </div>

        </div>

        <table>
            <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 45%">Artículo</th>
                    <th style="width: 10%">Cantidad</th>
                    <th style="width: 15%">Precio</th>
                    <th style="width: 10%">Descuento</th>
                    <!-- <th style="width: 5%">Impuestas</th> -->
                    <th style="width: 10%">Total</th>
                </tr>
            </thead>
            <tbody>
                {% comment %} {% if payment_details.items %} {% endcomment %}
                    {% comment %} {% for item in payment_details.additional_info.items %} {% endcomment %}
                    {% for item in cart.items.all %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.product.name }}</td>
                        <td id="tquantity">{{ item.quantity }}</td>
                        <td class="amount-column" id="tunit-price">S/{{ item.product.price }}</td>

                        <td class="amount-column">-</td>
                        <!-- <td class="amount-column">2%</td> -->
                        {% comment %} aqui va el total del producto {% endcomment %}
                        <td class="amount-column" >S/ {{ item.total_price }} <td></td>
                    </td>
                    </tr>
                    {% endfor %}
                
                {% comment %} {% endif %} {% endcomment %}

            </tbody>
        </table>

        <div class="totals">
            <div class="total-row">
                <span>Subtotal:</span>
                <span>S/{{ cart.subtotal }}</span>
            </div>
            
            <div class="total-row final-total">
                <span>TOTAL:</span>
                <span>S/{{ cart.subtotal }}</span>
            </div>
            
        </div>

        <a href="{% url "home" %}">Ir a inicio</a>
    </div>
</body>
</html>

