{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/success.css" %}">
    <title>Factura Electronica</title>
</head>
<body>
    <div class="invoice-container">
        <div class="header">
            <div class="logo-placeholder">
                <img src="{% static "img/logo.png" %}" alt="">
            </div>
            <div class="company-info">
                <h1>IBAFEX SAC</h1>
                <p>Compañia de abarrote por mayor</p>
                <p>http://dinostore.bed | admin@dinostore.bed +51 995 432 234</p>
            </div>
        </div>

        <div class="invoice-title">FACTURA</div>

        <div class="invoice-details">
            <div class="invoice-details-left">
                <div class="details-row">
                    <div class="details-label">Nombres:</div>
                    <div class="details-value">Marlon Pillaca</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Apellidos:</div>
                    <div class="details-value">Pillaca Pullo</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Correo:</div>
                    <div class="details-value">prueba@gmail</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Fecha de emisión:</div>
                    <div class="details-value">30/11/2024</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Tipo de envio:</div>
                    <div class="details-value">Delivery</div>
                </div>

                <div class="details-row">
                    <div class="details-label">Direccion de envio:</div>
                    <div class="details-value">Villa el salvador</div>
                </div>

                <div class="details-row">
                    <div class="details-label">Telefono:</div>
                    <div class="details-value">934 932 293</div>
                </div>
                
                <div class="details-row">
                    <div class="details-label">Fecha de vencimiento:</div>
                    <div class="details-value">21/12/2024</div>
                </div>
                <div class="details-row">
                    <div class="details-label">Moneda:</div>
                    <div class="details-value">SOL</div>
                </div>
            </div>

            <div class="invoice-details-right">
                <div class="details-row">
                    <div class="details-label">Cuenta por:</div>
                </div>
                <div class="details-value">
                    <p> <b>Ibafex Compañia</b> </p>
                    <p>mz f lt 10 gr 04</p>
                    <p>+51 954 345 234</p>
                    <p>ibafex@gmail.com</p>
                    
                </div>
            </div>

        </div>

        <table>
            <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 45%">Artículo</th>
                    <th style="width: 10%">Cantidad</th>
                    <th style="width: 15%">Precio</th>
                    <th style="width: 10%">Descuento</th>
                    <!-- <th style="width: 5%">Impuestas</th> -->
                    <th style="width: 10%">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Congelados Brontosaurios Costillas</td>
                    <td>2</td>
                    <td class="amount-column">120€</td>
                    <td class="amount-column">-</td>
                    <!-- <td class="amount-column">2%</td> -->
                    <td class="amount-column">240,00€</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Chuletas de Mamut</td>
                    <td>14</td>
                    <td class="amount-column">175€</td>
                    <td class="amount-column">-10%</td>
                    <!-- <td class="amount-column">5%</td> -->
                    <td class="amount-column">2.205,00€</td>
                </tr>
            </tbody>
        </table>

        <div class="totals">
            <div class="total-row">
                <span>Subtotal:</span>
                <span>2.445,00€</span>
            </div>
            
            <div class="total-row final-total">
                <span>TOTAL:</span>
                <span>2.560,05€</span>
            </div>
            
        </div>
    </div>
</body>
</html>