{% load static %}
<!DOCTYPE html>
<html lang="zxx">

{% include "head.html" %}


<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    {% include "header.html" %}


<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Mas Informacion</span>
                    </div>
                    <ul>
                        <li><a href="{% url "blog-details" %}#section-blog-details">Sobre Nosotros</a></li>
                        <li><a href="#">Compras Seguras</a></li>
                        <li><a href="{% url "blog-details" %}#section-quienes-somos">Quiénes Somos</a></li>
                        <li><a href="#">Nuestros Servicios</a></li>
                        <li><a href="{% url "contact" %}#section-contact">Contacto</a></li>
                        <li><a href="{% url "shop-grid" %}#section-shop">Nuestra Tienda</a></li>
                        <li><a href="{% url "contact" %}#map">Mapa del Sitio</a></li>
                        <li><a href="{% url "blog-details" %}#gerentes">Gerentes</a></li>
                        <li><a href="{% url "contact" %}#msj-reclamos">Reclamos/Inconvenientes</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="{% url "search_products" %}" method="GET">
                            <div class="hero__search__categories">
                                Categorias
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="Buscar Productos" name="search">
                            <button type="submit" class="site-btn">BUSCAR</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            {% if company_data != "No hay registro" %}
                            <h5>+51 {{ company_data.phone }}</h5>
                            {% else %}
                            <h5>{{ company_data }}</h5>
                            {% endif %}
                            <span>Soporte 24/7</span>
                            
                        </div>
                    </div>
                </div>
                <div class="hero__item set-bg" data-setbg="{% static "img/hero/banner1.png" %}">
                    <div class="hero__text">
                        <span>ABARROTE POR MAYOR</span>
                        <h2>Productos<br/> de Alta Calidad</h2>
                        <p>Envío rápido a todo Perú</p>
                        <a href="#" class="primary-btn">COMPRA AHORA</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hero Section End -->
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container">
            <div class="row">
                {% comment %} carrusel de prductos {% endcomment %}
                <div class="categories__slider owl-carousel">
                    {% for product in random_products %}
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="{{ product.image.url }}">
                                <h5><a href="{% url "shop-details" product.id %}">{{ product.name }}</a>
                                </h5>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-lg-3">
                            <div class="categories__item set-bg" data-setbg="{% static "img/imagen-vacia.jpg" %}">
                                <h5><a href="#">Producto</a>
                                </h5>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
                {% comment %} carrusel de prductos {% endcomment %}
            </div>
        </div>
    </section>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Productos Destacados</h2>
                    </div>

                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">Todo</li>
                            {% for category in get_category %}
                                <li data-filter=".{{ category }}">{{ category }}</li>
                            {% endfor %}
                        </ul>
                    </div> 
                    
                </div>
            </div>


            <div class="row featured__filter">

                {% if featured_products %}
                    {% for product in featured_products %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mix {{ product.category }}">
                        
                        <div class="featured__item">
                            <div class="featured__item__pic set-bg" data-setbg="{{ product.image.url }}">
                                <ul class="featured__item__pic__hover">
                                    <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                    <li><a href="{% url "shop-details" product.id %}"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="{% url 'add_to_cart' product.id %}"><i class="fa fa-shopping-cart"></i></a></li> 
                                </ul>
                            </div>
                            {% if product.price_discount > 0 %}
                                    <div class="product__discount__item__text">
                                        <h5><a href="#">{{ product.name }}</a></h5>
                                        <div class="product__item__price">S/{{ product.price_discount }} <span>{{ product.price }}</span></div>
                                    </div>
                                {% else %}
                                    <div class="product__discount__item__text">
                                        <h5><a href="#">{{ product.name }}</a></h5>
                                        <div class="product__item__price">S/{{ product.price}}</div>
                                        {% comment %} <p>{{ product.category }}</p> {% endcomment %}
                                    </div>
                            {% endif %}
                                
                        </div>
                    </div>
                    
                    {% endfor %}
                    
                {% else %}
                    <p>No existen productos Destacados</p>
                {% endif %}
                

                
                {% comment %} <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static "img/featured/feature-2.jpg" %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>S/30.00</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mix vegetables fresh-meat">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static "img/featured/feature-3.jpg" %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>S/30.00</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood oranges">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static "img/featured/feature-4.jpg" %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>S/30.00</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static "img/featured/feature-5.jpg" %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>S/30.00</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fastfood">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static "img/featured/feature-6.jpg" %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>S/30.00</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mix fresh-meat vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static "img/featured/feature-7.jpg" %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>S/30.00</h5>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 mix fastfood vegetables">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{% static "img/featured/feature-8.jpg" %}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">Crab Pool Security</a></h6>
                            <h5>S/30.00</h5>
                        </div>
                    </div>
                </div> {% endcomment %}

            </div>
        </div>
    </section>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
    <div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static "img/banner/banner-3.jpg" %}" alt="" width="600">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="banner__pic">
                        <img src="{% static "img/banner/banner-4.jpg" %}" alt=""  width="600" >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">

                        <h4>Ultimos Productos</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% if latest_products %}
                                    {% for product in latest_products %}
                                        <a href="{% url 'shop-details' product.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </div>
                                            <div class="latest-product__item__text">
                                                {% if product.price_discount > 0 %}
                                                    <div class="product__discount__item__cutomer">
                                                        <h6>{{ product.name }}</h6>
                                                        <div class="product__item__price">S/{{ product.price_discount }} <span>{{ product.price }}</span></div>
                                                    </div>
                                                {% else %}
                                                    <h6>{{ product.name }}</h6>
                                                    <span>S/{{ product.price }}</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{% static "img/imagen-vacia.jpg" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Producto</h6>
                                            <span>sin precio</span>
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% if latest_products %}
                                    {% for product in latest_products %}
                                        <a href="{% url 'shop-details' product.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </div>
                                            <div class="latest-product__item__text">
                                                {% if product.price_discount > 0 %}
                                                    <div class="product__discount__item__cutomer">
                                                        <h6>{{ product.name }}</h6>
                                                        <div class="product__item__price">S/{{ product.price_discount }} <span>{{ product.price }}</span></div>
                                                    </div>
                                                {% else %}
                                                    <h6>{{ product.name }}</h6>
                                                    <span>S/{{ product.price }}</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{% static "img/imagen-vacia.jpg" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>Producto</h6>
                                            <span>sin precio</span>
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Mejor Valorados</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% if top_rated_products %}
                                    {% for product in top_rated_products %}
                                        <a href="{% url 'shop-details' product.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </div>
                                            <div class="latest-product__item__text">
                                                {% if product.price_discount > 0 %}
                                                    <div class="product__discount__item__cutomer">
                                                        <h6>{{ product.name }}</h6>
                                                        <div class="product__item__price">S/{{ product.price_discount }} <span>{{ product.price }}</span></div>
                                                    </div>
                                                {% else %}
                                                    <h6>{{ product.name }}</h6>
                                                    <span>S/{{ product.price }}</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{% static "img/imagen-vacia.jpg" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>No hay productos</h6>
                                            <span>sin precio</span>
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% if top_rated_products %}
                                    {% for product in top_rated_products %}
                                        <a href="{% url 'shop-details' product.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </div>
                                            <div class="latest-product__item__text">
                                                {% if product.price_discount > 0 %}
                                                    <div class="product__discount__item__cutomer">
                                                        <h6>{{ product.name }}</h6>
                                                        <div class="product__item__price">S/{{ product.price_discount }} <span>{{ product.price }}</span></div>
                                                    </div>
                                                {% else %}
                                                    <h6>{{ product.name }}</h6>
                                                    <span>S/{{ product.price }}</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{% static "img/imagen-vacia.jpg" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>No hay prodcutos</h6>
                                            <span>sin precio</span>
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Primeros Productos</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% if first_products %}
                                    {% for product in first_products %}
                                        <a href="{% url 'shop-details' product.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </div>
                                            <div class="latest-product__item__text">
                                                {% if product.price_discount > 0 %}
                                                    <div class="product__discount__item__cutomer">
                                                        <h6>{{ product.name }}</h6>
                                                        <div class="product__item__price">S/{{ product.price_discount }} <span>{{ product.price }}</span></div>
                                                    </div>
                                                {% else %}
                                                    <h6>{{ product.name }}</h6>
                                                    <span>S/{{ product.price }}</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{% static "img/imagen-vacia.jpg" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>No hay prodcutos</h6>
                                            <span>sin precio</span>
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% if first_products %}
                                    {% for product in first_products %}
                                        <a href="{% url 'shop-details' product.id %}" class="latest-product__item">
                                            <div class="latest-product__item__pic">
                                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                            </div>
                                            <div class="latest-product__item__text">
                                                {% if product.price_discount > 0 %}
                                                    <div class="product__discount__item__cutomer">
                                                        <h6>{{ product.name }}</h6>
                                                        <div class="product__item__price">S/{{ product.price_discount }} <span>{{ product.price }}</span></div>
                                                    </div>
                                                {% else %}
                                                    <h6>{{ product.name }}</h6>
                                                    <span>S/{{ product.price }}</span>
                                                {% endif %}
                                            </div>
                                        </a>
                                    {% endfor %}
                                {% else %}
                                    <a href="#" class="latest-product__item">
                                        <div class="latest-product__item__pic">
                                            <img src="{% static "img/imagen-vacia.jpg" %}" alt="">
                                        </div>
                                        <div class="latest-product__item__text">
                                            <h6>No hay prodcutos</h6>
                                            <span>sin precio</span>
                                        </div>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <a href="https://wa.me/51982966410" class="btn-wsp" target="_blank">
	    <i class="fa fa-whatsapp icono"></i>
    </a>

    {% comment %} START FOOTER {% endcomment %}
    {% include "footer.html" %}
    {% comment %} END FOOTER {% endcomment %}

    {% comment %} START JS {% endcomment %}
    {% include "js-plugins.html" %}
    {% comment %} END JS {% endcomment %}
    
</body>

</html>